* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
}

ul {
    list-style: none;
}

#header {
    display: flex;
    background-color: #3f3f3f;
    padding: 1.4rem 4rem 1.4rem 4rem;

    justify-content: space-between;
    align-items: center;

    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #fff;
}

#main {
    display: grid;
    gap: 4rem;

    justify-content: center;
    align-items: center;

    font-family: 'Trebuchet MS', sans-serif;
    padding: 2rem;
}

.sendForm {
    display: grid;
    gap: .6rem;

    justify-content: center;
    align-items: center;
}

#addSpaceship {
    display: none;
    gap: .6rem;
    justify-content: center;
    align-items: center;
}

.btn {
    display: block;

    outline: none;
    border: none;

    padding: .5rem;
    background-color: green;
    border-radius: 2px;
    cursor: pointer;

    color: #fff;
    font-weight: 600;

    transition: ease-out 0.4s;
}

.btn:hover {
    opacity: 70%;
}

.remove-btn {
    background-color: #b30000;
}

.crew-btn {
    background-color: #4480c5;
}

#formSpaceship {
    display: grid;
    gap: .2rem;
}

.form-label {
    margin-top: .4rem;
    font-weight: 600;
}

.form-input {
    outline: none;
    background-color: transparent;
    border: 0;
    border-bottom: .1rem solid;
    padding: 1px 2px 1px 2px;
    color: #181818;

    margin-bottom: .4rem;
}

.spaceships {
    display: grid;
    gap: 1rem;
    text-align: center;
}

#spaceshipsList {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: start;
    gap: .6rem;
}

.list-spaces {
    display: flex;
    flex-direction: column;

    width: 20rem;
    height: auto;

    background-color: #e0e0e0;

    padding: 1rem;
    border-radius: 4px;
    gap: .2rem;
}

.crew-list {
    display: grid;
    gap: .4rem;

    justify-content: center;
    align-items: center;

    margin-top: .4rem;
    margin-bottom: 1rem;
}

.crew-members {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: .3rem;
    padding: .4rem 2rem .4rem 2rem;
    border-radius: 4px;

    background-color: #3f3f3f;
    color: white;
}


@media (max-width: 500px) {
    #header {
        padding: 1.4rem 1rem 1.4rem 1rem;

        font-size: 12px;
    }

    .list-spaces {
        width: 15rem;
    }
}